*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    background-color: #666;
}
h2{
    color: orange;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align:  center;
}

header {
    background-color: #666;
    color: orange;
    padding: 20px;
    text-align: center;
}
nav {
    background-color: #444;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}
nav a:hover{
    background-color: #555;
    transition: .5s;
    background-color: orange;
}
section {
    padding: 20px;
}

.container {
    max-width: 90%; 
    margin: 50px auto;
    padding: 20px;
    background-color: #444;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  .container h2 {
    text-align: center;
    color: orange;
  }
.container p {
    text-align: center;
    color: #fff;
    padding: 10px;
  }
  .image-container {
    text-align: center;
    margin-top: 20px;
  }
  .image-container img {
        max-width: 100%;
        height: auto;
  }
  
.product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #444;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.product p{
    text-align: center;
    color: #fff;
    padding: 5px;
  }

.product button{
    background-color: orange;
    align-items: normal;
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    transition: background-color 0.3s ease;
    
}

.product img {
    max-width: 200px;
    max-height: 200px;
}
.product-info {
    flex: 1;
    padding-left: 20px;
}

.Contacto {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #444;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .Contacto h3 {
    text-align: center;
    color: #fff;
    font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 5px;
}
  
  
  .Contacto p {
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .Contacto ul {
    list-style-type: none;
    margin-bottom: 20px;
  }
  
  .Contacto li {
    margin-bottom: 10px;
  }
  
  .Contacto label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
  }
  
  .Contacto input[type="text"],
  .Contacto input[type="email"],
  .Contacto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .Contacto textarea {
    resize: vertical;
  }
  
  .Contacto button[type="submit"] {
    background-color: orange;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    transition: background-color 0.3s ease;
  }
  
  .Contacto button[type="submit"]:hover {
    background-color: #666;
  }

        .app{
          display: flex;
          justify-content: center;
          gap: 20px;
        }
  
        .app a{
          font-size: 50px;
          padding: 10px;
          transition: all ease 500ms;
        }
  
        .Facebook{
          color: blue;
        }
  
        .What{
          color: green;
        }
  
        .Instagram{
          color: #833AB3;
        }
  
        .X{
          color: white;
        }
  
        .app a:hover{
          color: orange;
          transform: scale(1.2);
        }

footer {
    background-color: #444;
    color: orange;
    text-align: center;
    padding: 20px 0;
}
